body {
  background-color: var(--black);
}
h1 {
  color: var(--red);
}
.thank-you {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: white;
}

.thank-you_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
